.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  height: 100vh; /* Ensure body takes full height */
  display: flex; /* Optional: Use flexbox for layout */
  flex-direction: column; /* Optional: Stack children vertically */
  background-size: cover;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.bg-dark {
  background-color: #343a40 !important;
}

.text-light {
  color: #ffffff !important;
}

.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Adjust color for visibility in dark mode */
}